<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076897334854-dhthnp93mlc7udgmn0jvus5n7gc78osi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076897334854-dhthnp93mlc7udgmn0jvus5n7gc78osi</string>
	<key>API_KEY</key>
	<string>AIzaSyDucNpHhsaYS200A2KjvjniNW9_un235nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1076897334854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>fakenews-97192</string>
	<key>STORAGE_BUCKET</key>
	<string>fakenews-97192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076897334854:ios:8b2a92105f862a20e16c47</string>
</dict>
</plist>
